// -----   стилизуем footer----------
.page-footer {
  color: $color-white;
  background-color: $color-background-footer;
}
.page-footer__container {
  // display: flex;
  // flex-direction: column;
  //align-items: center;
  @media screen and (max-width: calc($tablet - 1px)) {
    text-align: center;
  }
  position: relative;
}
.page-footer__logo {
  display: inline-block;
  color: inherit;
  // margin: 0 auto;
  margin-bottom: 28px;
}

.box-address {
  // width: 231px;
  @media screen and (min-width: $tablet) {
    // flex-basis: calc((100% - 1 * 30px) / 2);
    margin-left: 76px;
    width: 232px;
    text-align: center;
    margin-bottom: 60px;
  }
}
//
.box-social {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: calc($tablet - 1px)) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) {
    // margin-left: 76px;
    //display: inline;
    position: absolute;
    top: 65px;
    right: 89px;
    //margin-right: 89px;
    //margin-top: 65px;
    //margin-left: 473px;
    // width: 232px;
    text-align: center;
  }
}
.page-footer__headlines {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;

  margin-bottom: 20px;
}
