.page-header {
  border-bottom: 1px solid $color-border-botton-header;
  & .container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

    @media screen and (min-width: $mobile) {
      height: 60px;
    }
    @media screen and (min-width: $tablet) {
      height: 80px;
    }
  }
}
