.site-nav {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}
//*       item    
.site-nav__item:not(:first-child) {
    margin-left: 50px;
}
//*     link   
.site-nav__link {
    display: block;
    color: $color-header;
    padding: 32px 0px 28px;

    transition: color $time-hover $time-function;

    &:hover,
    &:focus {
        color: $color-accent;
    }
}
//*      link active    
.site-nav__link--active {
    position: relative;
    color: $color-accent;

    &::after {
        position: absolute;
        left: 0;
        bottom: -1px;
    
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: $color-accent;
    }
}